<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Following</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Followers</a>
    </li>

  </ul>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="d-flex justify-content-center my-3">
    <div class="list-group contact-group">
    <a href="#" class="list-group-item">
        <div class="media">
            <div class="pull-left">
                <img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
            </div>
            <div class="media-body">
                <h4 class="media-heading">John Doe <small>Software Engineer at Facebook, Inc.</small></h4>
                <div class="media-content">
                    <i class="fa fa-map-marker"></i> San Francisco, California, United States
                    <ul class="list-unstyled">
                        <li><i class="fa fa-skype"></i> jdoe.doe</li>
                        <li><i class="fa fa-mobile"></i> +63 912 212 2451</li>
                        <li><i class="fa fa-envelope-o"></i> joedoe@email.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </a>
    </div>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    test two
  </div>
</div>